<div class="d-flex">
    <ul ngbNav #nav="ngbNav" [(activeId)]="abaAtiva" class="nav-pills" orientation="vertical"
        (navChange)="onNavChange($event)">
        <li *ngFor="let item of itens" [ngbNavItem]="item.identificadorDoItem">
            <a ngbNavLink>{{ item.descricao }}</a>
            <ng-template ngbNavContent>
                <ng-container *ngComponentOutlet="componenteAtual"></ng-container>
            </ng-template>
        </li>
    </ul>
    <div [ngbNavOutlet]="nav" class="ml-4"></div>
</div>