<header>
  <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-primary border-bottom box-shadow mb-3">
    <div class="container">

      <a class="navbar-brand" [routerLink]="['/']">SGM</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse"
        aria-label="Toggle navigation" [attr.aria-expanded]="isExpanded" (click)="toggle()">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="navbar-collapse collapse d-sm-inline-flex justify-content-end" [ngClass]="{ show: isExpanded }">
        <ul class="navbar-nav flex-grow">
          <li class="nav-item" [routerLinkActive]="['link-active']" [routerLinkActiveOptions]="{ exact: true }">
            <a class="nav-link text-dark" [routerLink]="['/']">Início</a>
          </li>
          <li *ngIf="!usuario" class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/login']">Acessar</a>
          </li>
          <li *ngIf="!!usuario" class="nav-item">
            <a class="nav-link text-dark" [routerLink]="" (click)="sair()">Sair</a>
          </li>
        </ul>

        <div ngbDropdown class="d-inline-block text-dark">
          <button class="btn btn-outline-primary text-dark" id="dropdownModulos" ngbDropdownToggle>Módulos</button>
          <div ngbDropdownMenu aria-labelledby="dropdownModulos">
            <button ngbDropdownItem (click)="irPara('modulos/geo')">Georreferenciamento</button>
            <button ngbDropdownItem (click)="irPara('modulos/cidadao')">Serviços ao cidadão</button>
            <button ngbDropdownItem [disabled]="true">Gestão de projetos</button>
            <button ngbDropdownItem [disabled]="true">Indicadores e gráficos</button>
            <button ngbDropdownItem [disabled]="true">Integrações</button>
          </div>
        </div>

      </div>

    </div>
  </nav>
</header>