<div *ngIf="!usuario">
    <form class="form-signin" novalidate [formGroup]="form" (ngSubmit)="logar()">
        <h1 class="h3 mb-3 font-weight-normal">Por favor insira as informações</h1>
        <label for="inputEmail" class="sr-only">E-mail</label>
        <input formControlName="email" type="email" id="inputEmail" class="form-control" placeholder="Email address"
            required autofocus>
        <label for="inputPassword" class="sr-only">Senha</label>
        <input formControlName="senha" type="password" id="inputPassword" class="form-control" placeholder="Password"
            required>
        <button [disabled]="form.invalid" class="btn btn-lg btn-primary btn-block" type="submit">Acessar</button>
    </form>
</div>
<div *ngIf="!!usuario">
    <h1>Usuário logado</h1>
</div>