<div>
    <div class="border rounded p-5 mb-4 bg-light cursor-pointer col-md-3">
        <i-bs name="heart-fill"></i-bs>
        <label>COVID-19</label>
    </div>
    <div class="border rounded p-5 mb-4 bg-light cursor-pointer col-md-3">
        <i-bs name="clipboard-data"></i-bs>
        <label>Dados epidemiológicos</label>
    </div>
    <div class="border rounded p-5 mb-4 bg-light cursor-pointer col-md-3">
        <i-bs name="book"></i-bs>
        <label>Educação</label>
    </div>
    <div class="border rounded p-5 mb-4 bg-light cursor-pointer col-md-3">
        <i-bs name="tv"></i-bs>
        <label>Aulas</label>
    </div>
    <div class="border rounded p-5 mb-4 bg-light cursor-pointer col-md-3">
        <i-bs name="briefcase-fill"></i-bs>
        <label>Trabalho e emprego</label>
    </div>
    <div class="border rounded p-5 mb-4 bg-light cursor-pointer col-md-3">
        <i-bs name="calendar-date-fill"></i-bs>
        <label>Calendário escolar</label>
    </div>
    <div class="border rounded p-5 mb-4 bg-light cursor-pointer col-md-3">
        <i-bs name="chat"></i-bs>
        <label>Ouvidora</label>
    </div>
    <div class="border rounded p-5 mb-4 bg-light cursor-pointer col-md-3">
        <i-bs name="cone-striped"></i-bs>
        <label>Trânsito e transporte</label>
    </div>
    <div class="border rounded p-5 mb-4 bg-light cursor-pointer col-md-3">
        <i-bs name="diagram2"></i-bs>
        <label>Organograma</label>
    </div>
    <div class="border rounded p-5 mb-4 bg-light cursor-pointer col-md-3">
        <i-bs name="film"></i-bs>
        <label>Cultura e lazer</label>
    </div>
    <div class="border rounded p-5 mb-4 bg-light cursor-pointer col-md-3">
        <i-bs name="graph-up"></i-bs>
        <label>Indicadores públicos</label>
    </div>
    <div class="border rounded p-5 mb-4 bg-light cursor-pointer col-md-3">
        <i-bs name="hammer"></i-bs>
        <label>Obras</label>
    </div>
    <div class="border rounded p-5 mb-4 bg-light cursor-pointer col-md-3">
        <i-bs name="house-door"></i-bs>
        <label>Moradir popular</label>
    </div>
</div>